@tailwind base;
@tailwind components;
@tailwind utilities;

input.custom-input-focus:focus {
    border-color: #0ea5e9 !important; /* Equivalente a sky-500 */
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color) !important;
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) #0ea5e9 !important; /* Anillo de 1px, color sky-500 */
    box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000) !important;
}

input.focused {
    border-color: #0ea5e9 !important; /* Equivalente a sky-500 */
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color) !important;
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) #0ea5e9 !important; /* Anillo de 1px, color sky-500 */
    box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000) !important;
}

/* Variante para modo oscuro */
.dark input.custom-input-focus:focus {
    border-color: #0ea5e9 !important; /* Equivalente a sky-500 para modo oscuro */
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) #0ea5e9 !important; /* Anillo de 1px, color sky-500 */
}

/* Estilo para campos con error */
input.is-invalid,
select.is-invalid {
    border-color: #ef4444 !important; /* Equivalente a red-500 */
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color) !important;
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) #ef4444 !important; /* Anillo de 1px, color red-500 */
    box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000) !important;
}

/* Asegurarse de que el foco azul no interfiera */
input.custom-input-focus.focused {
    border-color: #0ea5e9 !important; /* Equivalente a sky-500 */
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color) !important;
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) #0ea5e9 !important; /* Anillo de 1px, color sky-500 */
    box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000) !important;
}
